.IconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #bde6d5;
}

.greenbg {
  @extend .IconBox;
  background: linear-gradient(
    90deg,
    rgba(87, 238, 83, 0.35) 0%,
    rgba(201, 255, 199, 0.35) 100%
  );
  border: 0.5px solid #bde6d5;
}

.redbg {
  @extend .IconBox;
  background: linear-gradient(
    90deg,
    rgba(255, 11, 11, 0.35) 0%,
    rgba(255, 146, 146, 0.35) 100%
  );
  border: 0.5px solid #bde6d5;
}

.lightYellowbg {
  @extend .IconBox;
  background: linear-gradient(
    90deg,
    rgba(255, 192, 30, 0.35) 0%,
    rgba(255, 220, 131, 0.35) 100%
  );
  border: 0.5px solid #bde6d5;
}

.greencolor {
  color: #009456;
}

.yellow {
  color: #f1ae00;
}

.redcolor {
  color: #f61313;
}

.gridlayout {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.subgridlayout {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 1px;
  row-gap: 1rem;
}

.titlebg {
  background: #b2d1ff;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

.beforeBorder {
  position: absolute;
  content: "  ";
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-radius: 0px 6px 6px 0px;
}

.greenBorder::before {
  @extend .beforeBorder;
  border: 3px solid #009456;
}

.yellowBorder::before {
  @extend .beforeBorder;
  border: 3px solid #f1ae00;
}

.redBorder::before {
  @extend .beforeBorder;
  border: 3px solid #f61313;
}
